* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: "Montserrat";
}
body {
    background-color: #fffffe;
    width: 100%;
}
header {
    background-color: #272343;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
}
.name {
    color: #fffffe;
    font-size: 2rem;
    text-decoration: none;
}
.login-form {
    background-color: #fffffe;
    color: #272343;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 4px;
    font-weight: 600;
}
.login-form:hover{
    background-color: #ffd803;
    color: #272343;
}
footer{
    background-color: #272343;
    padding: 3%;
}
footer p{
    color: #fffffe;
    text-align: center;
}
@media (min-width: 300px){
    .form-validation{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
    }

    .form-validation > .form {
        width: 100%;
        margin: 0 auto;
        margin-top: 5vh;
        margin-bottom: 10vh;
        padding: 5%;
        border: 5px solid #272343;
        border-radius: 4px;
    }
}
@media(min-width: 750px) {
    .form-validation > .form {
        width: 60%;
    }
}
@media(min-width: 1200px){
    .form-validation > .form {
        width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
    }
}