* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 16px;
    font-family: "Montserrat";
  }
  body {
    background-color: #fffffe;
    width: 100%;
  }
  header {
    background-color: #272343;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
  }
  .name {
    color: #fffffe;
    font-size: 2rem;
    text-decoration: none;
  }
  .login-form {
    background-color: #fffffe;
    color: #272343;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 4px;
    font-weight: 600;
  }
  .login-form:hover{
    background-color: #ffd803;
    color: #272343;
  }
  footer{
    background-color: #272343;
    padding: 3%;
  }
  footer p{
    color: #fffffe;
    text-align: center;
  }
  section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-x: hidden;
  }
  .container {
    width: 60%;
    max-width: 1200px;
    position: relative;
  }
  .container img {
    height: 100%;
    width: 100%;
  }
  .all-tooltip {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  
  .tooltip-content {
    position: absolute;
    background-color: #fffffe;
    box-shadow: 0px 0px 20px #00000020;
    padding: 30px;
    border-radius: 8px;
    width: 70vw;
    max-width: 300px;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
  }
  .tooltip-content .arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 10px solid transparent;
    border-bottom-color: #fffffe;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -100%) rotate(0deg);
  }
  .pin {
    position: absolute;
    content: "";
    top: 50%;
    left: 80%;
    height: 25px;
    width: 25px;
    background-color: #fffffe;
    border-radius: 50%;
    cursor: pointer;
  }
  .pin:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffffe;
    border-radius: 50%;
    animation: puls-effect 1s ease infinite;
  }
  .tooltip.active .tooltip-content {
    opacity: 1;
    pointer-events: all;
    display: block;
  }

  .tooltip .tooltip-content {
    background-color: #fffffe;
  }
  .tooltip .tooltip-content .content h1 {
    font-size: 2rem;
    margin: 10px 0;
  }
  .tooltip .tooltip-content .content p {
    font-size: 1rem;
  }
  .tooltip .tooltip-content .content button {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    background-color: #fffffe;
    color: #272343;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 20px #00000020;
  }
  .content button:hover {
    background-color: #ffd803;
    color: #272343;
  }
 
  /* Custom Style for tooltip-1 */
  
  .tooltip-1 .pin {
    top: 40%;
    left: 82%;
    height: 15px;
    width: 15px;
    background-color: #fffffe;
  }
  .tooltip-1 .tooltip-content {
    display: flex;
    max-width: 500px;
    align-items: stretch;
    justify-content: center;
    padding: 0;
    background-color: #fffffe;
  }
  .tooltip-1.active .tooltip-content {
    display: flex;
  }
  .tooltip-1 .tooltip-content .img {
    width: 50%;
    object-fit: cover;
  }
  .tooltip-1 .tooltip-content .content {
    width: 50%;
    padding: 20px;
  }

  
  /* custom style for tooltip-2 */
  
  .tooltip-2 .pin {
    top: 75%;
    left: 40%;
    height: 15px;
    width: 15px;
  }
  
  /* Custom style for tooltip-3 */
  
  .tooltip-3 .pin {
    top: 40%;
    left: 25%;
    height: 15px;
    width: 15px;
  }
  /* Custom style for tooltip-4 */
  
  .tooltip-4 .pin {
    top: 80%;
    left: 5%;
    height: 15px;
    width: 15px;
  }
  
  /* Puls Effect For Pins */
  
  @keyframes puls-effect {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }

/* cart */
.cart {
  height: 70vh;
}
.cart h2 {
  font-size: 2rem;
  color: #272343;
  width: 260px;
}

/* shopping cart */
.shopping-cart {
  text-align: right;
  /* padding: 1rem; */
}
.shopping-cart h3 {
  font-size: 1.5rem;
  color: #272343;
  text-align: left;
}
.shopping-cart p {
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: #272343;
}
.shopping-cart button {
  font-size: .8rem;
  background-color: #fffffe;
  border: 2px solid #272343;
  border-radius: 4px;
  padding: .4rem;
}
p.total-price {
  font-size: 2rem;
  margin-top: 2rem;
  border-top: 2px solid #272343;
}